<!DOCTYPE html>

<!-- Add navbar - YES -->
<!-- Add dropdown menu to navbar - YES -->
<!-- Add glyphicons for elements - YES -->
<!-- Add progress bars for each project -->
<!-- Add ability to "group" projects -->

<!-- ??? Add media objects for each project ??? -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<nav class="navbar navbar-default">
    
    <div class="navbar-header">
        
        <a class="navbar-brand" href="#">Project Tracker</a>
        
        <!-- configure "overflow" button for mobile users -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse-items">
            <!-- "handmade" overflow icon -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse-items">
        
        <!-- list of items in navbar -->
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
                
              <!-- dropdown menu trigger -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> Guest <span class="caret"></span>
              </a>
                
              <!-- dropdown menu content -->
              <ul class="dropdown-menu">
                <li><a href="#">Login</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Settings</a></li>
              </ul>
                
            </li>
            
        </ul>
        
    </div>
    
</nav>

<div class="container">
    
    <h2 class="text-center"> Hello, {{ message }}! </h2>

    <div class="list-group">
        
        {% for title, desc in item_list %}
        
        <a class="list-group-item" href="#">
            <h4 class="list-group-item-heading">{{ title }}</h4>
            <p class="list-group-item-text">{{ desc }}</p>
        </a>
        
        {% endfor %}
        
    </div>
    
</div>